body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.colorBrun{
    --bs-text-opacity: 1;
    color: #AB7442 !important;
}
.bg-brun {
    --bs-bg-opacity: 1;
    background-color: #AB7442 !important;
  }