footer{
    background-color: #303030;
    width: 100%;
    .containerFooter{
        padding-top: 6em;
        color: white;
        width: 100%;
        .topFooter{
            padding-left:10% ;
            padding-right: 10%;
            display: flex;
            justify-content: center;
            gap: 2em;
            width: 100%;
            .footercolumn{
                .containerNewsletter{
                    .emailNewsletter{
                        .containerEmailNL{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            color: grey;
                            background-color: white;
                            padding: 10px;
                            .btnfooter{
                                background-color: #AB7442;
                                color: white;
                                padding: 10px;
                                cursor: pointer;
                                
                            }
                        }
                    }
                }
                h3{
                    font-size: 1.5em;
                    font-weight: bold;
                    margin-bottom: 1em;
                }
                ul{
                    list-style-type: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 0.4em;
                    width: 100%;
                    font-size: small;
                    li{
                        display: flex;
                        gap: 1em;
                        align-items: center;
                        cursor: pointer;
                        .containerLogoFooter{
                            display: flex;
                            gap: 1px;
                            i{
                                border: white solid 1px;
                                padding: 10px;
                            }
                            i:hover{
                                color: black;
                                background-color: white;
                            }
                        }
                    }
                    li:hover{
                        color: #AB7442;
                        transform: scale(1.04);
                    }
                }
                
            }
        }
        .bottomFooter{
            margin-left:10% ;
            margin-right: 10%;
            border-top:1px white solid ;
            padding-top: 1.5em;
            padding-bottom: 2em;
            display: flex;
            justify-content: space-between;
            div{
                span{
                    text-decoration: underline;
                }
            }
        }
        
    }
}
@media (max-width: 800px){
    .topFooter{
        flex-direction: column;
    }
    .bottomFooter{
        flex-direction: column;
        gap: 3em;
        text-align: center;
    }
}