#scroll_to_top {
    position: fixed;
    // width: 25px;
    // height: 25px;
    bottom: 50px;
    right: 30px;
    z-index: 500;
    a{
        i{
            color:white ;
            background-color: #AB7442;
            padding: 15px;
        }
    }
}
header{

    .scrollSpy{
        position: absolute;
        right: 100px;
        width: 20px;
        height: 20px;
        color: white;
        background-color:#AB7442 ;
        i{
            padding: 15px;
        }
    }
    margin: 0;
    .sectionHeader{
        .containerHeader{
            background-color: rgba(128, 128, 128, 0.249);
            display: flex;
            align-items: center;
            padding-top: 0.7em;
            padding-bottom: 0.7em;
            justify-content: space-between;
            padding-left: 1em;
            padding-right: 1em;
            .leftPartHeader, .rightPartHeader{
                display: flex;
                gap: 1em;
                align-items: center;
            }
            .rightPartHeader{
                
                .reseauxHeader{
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    div{
                        width: 30px;
                        height: 30px;
                        i{
                            width: 100%;
                            height: 100%;
                            background-color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 800px){
    // .containerHeader{
    // flex-direction: column;
    // width: 100%;
    // padding: 0;
    // }
    // .leftPartHeader, .rightPartHeader{
    //     flex-direction: column;
    // }
    .containerHeader{
        font-size: 10px;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center!important;
        background-color: red;
    }
    .reseauxHeader{
        // flex-direction: column;
        div{
            width:15px!important ;
            height:15px!important  ;
            background-color: red;

        }
    }
}