header{
    margin: 0;
    .sectionHeader{
        .containerHeader{
            background-color: rgba(128, 128, 128, 0.249);
            display: flex;
            align-items: center;
            padding-top: 0.7em;
            padding-bottom: 0.7em;
            justify-content: space-between;
            padding-left: 1em;
            padding-right: 1em;
            .leftPartHeader, .rightPartHeader{
                display: flex;
                gap: 1em;
                align-items: center;
            }
            .rightPartHeader{
                
                .reseauxHeader{
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    div{
                        
                        i{
                            background-color: white;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 800px){
    .containerHeader{
    flex-direction: column;
    width: 100%;
    }
    .leftPartHeader, .rightPartHeader{
        flex-direction: column;
    }
}