.section3{
    margin-top: 6em;
    .containerSection3{
        width: 100%;
        display: flex;
        height: 450px;
        .leftPartS3{
            width: 50%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .rightPartS3{
            background-color: #F5F5F5;
            width: 50%;
            padding-left: 2em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 10%;
            .topRightS3{
                h2{
                    font-weight: bold;
                    color: black;
                }
                p{
                    line-height: 1.5em;
                    letter-spacing: 1px;
                    font-size: small;
                }
            }
            .bottomRightS3{
                display: flex;
                gap: 5em;
                .topBottomRightS3{
                    display: flex;
                    gap: 1em;
                    height: 100px;
                    .iconS3{
                        i{
                        background-color: white;
                        color: #AB7442;
                        font-size: 3em;
                        padding: 10px;
                        }                       
                    }
                    .txtNearIconS3{
                        p{
                            span{
                                color: #AB7442;
                                font-size: 2em;
                            }
                        }
                    }
                }              
            }
            .rightButton{
                button{
                    cursor: pointer;
                    color: white;
                    padding: 10px;
                    padding-left: 40px;
                    padding-right: 40px;
                    background-color:#AB7442 ;
                    border: transparent;
                }
            }
        }
    }
}
// MEDIA QUERY 375PX ET 425PX
@media (max-width: 700px){
    .section3{
        margin-top: 3em !important;
        .containerSection3{
            flex-direction: column;
            .leftPartS3{
                width: 100%;
            }
            .rightPartS3{
                width: 100%;
                .topRightS3{
                    text-align: center;
                    margin-top: 2em;
                }
                .bottomRightS3{
                    flex-direction: column;
                    align-items: center;
                    .topBottomRightS3{
                        flex-direction: column;
                        height: auto;
                        align-items: center;
                        .txtNearIconS3{
                            text-align: center;
                        }
                    }
                }
            }
            .rightButton{
                display: flex;
                button{
                    margin: auto;
                }
            }
        }   
    }
}