.section8{
    margin-left:15% ;
    margin-right: 15%;
    margin-top: 6em;
    margin-bottom: 3em;
    h2{
        font-weight: bolder;
        color: black;
        text-align: center;
    }
    .containerSection8{
        margin-top: 2em;
        display: flex;
        width: 100%;
        height: 100%;
        gap: 1em;
        .cardSection8{
            width: 100%;
            height: 100%;
            .animationSection8:hover{
                opacity: 1;
                transition: 1;
                img{
                    transform: scale(1.1);
                    transition-duration: 1s;
                }
            }
            .animationSection8{
                position: absolute;
                opacity: 0;
                display: flex;
                align-items: baseline;
                
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                transition: 0.5s;
                i{
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    color: #AB7442;
                    cursor: pointer;
                    transition: 0.5s;
                }
                i:hover{
                    color: white;
                    background-color:#AB7442 ;
                }
            }
        }
        .imgCardsS8{
            overflow: hidden;
            position: relative;
            height: 100%;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
                transition: 1s;
            }
            // img:hover{
            //     transform: scale(1.1);
            //     transition-duration: 1s;
            // }
        }
        .nameCardsS8{
            text-align: center;
            border: 3px solid rgba(128, 128, 128, 0.148);
            border-top: 0;
            span{
                font-weight: bold;
                font-size: 1em;
            }
            p{
                font-size: small;
                color: grey;
            }
        }
    }
}

// TABLETTES
@media (min-width: 701px) and (max-width: 1000px) {
    .animationSection8{
        i{
            height:25px!important ;
            width:25px!important ;
        }
    }

}
// TELEPHONE
@media (max-width: 700px){
    .section8{
        // display: block;
        margin-top: 2em;
        margin-left:5% ;
        margin-right: 5%;
        .containerSection8{
            // flex-direction: column;
        }
        .animationSection8{
            i{
                font-size: 10px;
                height:20px!important ;
                width:20px!important ;
            }
        }
    }
}