.section2{
    margin-left:15% ;
    margin-right: 15%;
    margin-top: 6em;
    .containerSection2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        .colonneSection2{
            .containerColonne{
                .topColonne{
                    display: flex;
                    gap: 6em;
                    align-items: center;
                    .leftTopColonne{
                        i{
                        font-size: 38px;
                        padding: 10px;
                        background-color: #F5F5F5;
                        }
                    }
                    .rightTopColonne{
                    font-size: 3em;
                    color: #F5F5F5;
                    }
                }
                .bottomColonne{
                    span{
                        font-weight: bold;
                    }
                }

            }
        }
    }
}
@media (min-width: 701px) and (max-width: 1000px) {
    .containerSection2{
        .containerColonne{
            .topColonne{
                gap: 10px!important;
                
        }
            .bottomColonne{
                text-align: center;
            }
    }
  }
}
@media (max-width: 700px){
    .section2{
        margin: 3em 0 0 0 !important;
        .containerSection2{
            // flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .colonneSection2{
                .containerColonne{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .topColonne{
                        gap: 10px;
                        // flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: center;
                        .leftTopColonne{
                            i{
                            font-size: 20px;
                            padding: 10px;
                            background-color: #F5F5F5;
                            }
                        }
                    }
                }
            }
        }
    }
}
