.section8{
    margin-left:15% ;
    margin-right: 15%;
    margin-top: 6em;
    h2{
        font-weight: bolder;
        color: black;
        text-align: center;
    }
    .containerSection8{
        margin-top: 2em;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 1em;
        .cardSection8{
            .imgCardsS8{
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
            .nameCardsS8{
                text-align: center;
                border: 3px solid rgba(128, 128, 128, 0.148);
                border-top: 0;
                span{
                    font-weight: bold;
                    font-size: 1em;
                }
                p{
                    font-size: small;
                    color: grey;
                }
            }

        }
    }
}