.section1{
    width: 100%;
    .carousel{  
         
        .carousel-indicators{
            button{
                border:5px white double !important ;
                border-top:5px white double !important ;
                border-bottom: 5px white double !important;
                width: 5px !important;
                height: 5px !important;
            }
        }
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    bottom: 40%;
                    margin-left: 10%;
                    margin-right: 10%;
                    h3{
                        font-weight: bolder;
                        font-size: medium;
                    }
                    h5{
                        font-weight: bolder;
                        font-size: 3em;
                    }
                    p{
                        font-size: medium;
                    }
                    .buttonsCaroussel{
                        display: flex;
                        justify-content: center;
                        gap: 1em;
                       
                        button{
                            border: transparent;
                            padding: 10px;
                            padding-left: 40px;
                            padding-right: 40px;
                        }
                        .btnCar{
                            background-color: #AB7442;
                            color: white;
                        }
                    }
                }
            }
        }
        .carousel-control-prev, .carousel-control-next{
            // width: 85%;
            top: auto;
            margin-bottom: 0.5em;
            .carousel-control-next-icon,.carousel-control-prev-icon{
                height: 10px;
                width: 10px;
                border: solid white 1px;
                padding: 15px;
            }
        }
        .carousel-control-next{
            margin-right: 30%;
        }
        .carousel-control-prev{
            margin-left: 30%;
        }
    }
}
@media (max-width: 600px){
    .carousel-caption{
        bottom:0!important;
        h3{
            display: block;
        }
    }

}
@media (max-width: 800px){
    .carousel-caption{
        top: 50%!important;
        transform: translateY(-50%)!important;
        h3{
            font-weight: bolder!important;
            font-size: small!important;
        }
        h5{
            font-weight: bolder!important;
            font-size: medium!important;
        }
        p{
            font-size: small!important;
        }
    }
    .buttonsCaroussel{
        justify-content: space-between;
    }
    .carousel-control-next{
        justify-content: end;
        
        margin-right: 20%;
    }
    .carousel-control-prev{
        justify-content: left;
        
        margin-left: 20%;

    }
    .carousel-indicators{
        button{
            border:5px white double !important ;
            // border-top:5px white double !important ;
            // border-bottom: 5px white double !important;
            width: 5px !important;
            height: 5px !important;
        }
    }
}
