.section1{
    .carousel{
        
        .carousel-indicators{
            button{
                border:5px white double !important ;
                border-top:5px white double !important ;
                border-bottom: 5px white double !important;
                width: 5px !important;
                height: 5px !important;
            }
        }
        .carousel-inner{
            .carousel-item{
                .carousel-caption{
                    bottom: 40%;
                    margin-left: 10%;
                    margin-right: 10%;
                    h3{
                        font-weight: bolder;
                        font-size: medium;
                    }
                    h5{
                        font-weight: bolder;
                        font-size: 3em;
                    }
                    p{
                        font-size: medium;
                    }
                    .buttonsCaroussel{
                        display: flex;
                        justify-content: center;
                        gap: 1em;
                        button{
                            border: transparent;
                            padding: 10px;
                            padding-left: 40px;
                            padding-right: 40px;
                        }
                        .btnCar{
                            background-color: #AB7442;
                            color: white;
                        }
                    }
                }
            }
        }
        .carousel-control-prev, .carousel-control-next{
            width: 85%;
            top: auto;
            .carousel-control-next-icon,.carousel-control-prev-icon{
                height: 10px;
                width: 10px;
                border: solid white 1px;
                padding: 15px;
            }
        }
    }
}

@media (max-width: 800px){
    .carousel-caption{
        bottom: 0 !important;
        h3{
            font-weight: bolder;
            font-size: small;
        }
        h5{
            font-weight: bolder;
            font-size: medium;
        }
        p{
            font-size: small;
        }
    }
}
