.section2Contact{
    margin: 0;
    .section2ContactContainer{
        display: flex;
        width: 100%;
        height: 450px;
        .rightPartContactS2{
            height: 100%;
            width: 50%;
            iframe{
                height: 100%;
                width: 100%;
            }
        }
        .leftPartContactS2{
            width: 50%;
            height: 100%;
            background-color: #F5F5F5;
            padding-left: 10%;
            padding-right: 2%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            form{
                .form-outline{
                    input,textarea{
                        border-radius: 0 !important;
                    }
                }
                .btnForm{
                    display: block;
                    width: 100%;
                    background-color: #AB7442;
                    border: none;
                    padding: 10px;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
@media (max-width: 700px){
    .section2Contact{
        width: 100% !important;
        margin-top: 2em;
        .section2ContactContainer{
            width: 100% !important;
            height: max-content;
            flex-direction: column;
            gap: 1em;
        }
        .rightPartContactS2,.leftPartContactS2{
            width: 100% !important;
            
        }
        .rightPartContactS2{
            width: 100% !important;
            iframe{
                width: 100% !important;
            }
        }
        .leftPartContactS2{
            justify-content: center;
            padding-left: 0 !important;
            padding-right: 0 !important;
            align-items: center;
        }
    }
}